@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --background-color: black;
  --font-color: #46494b;
  --header-background-color: #black;
  --header-font-color: #b0e4db;
  --field-background-color: black;
  --field-background-color-hover: #222;
  --border-color: #ff9900;
  --blue-border-color: #2a3a46;
  --button-background-color: #4c5c68;
  --button-hover-background: #3b4b57;
  --button-active-background: #2a3a46;
  --font: "VT323", monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font);
  line-height: 1.6;
  /* footer support */
  margin-bottom: 80px;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwLDAsMjU2LDI1NiIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgZmlsbC1ydWxlPSJub256ZXJvIj48ZyBmaWxsPSIjZmE1MjUyIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48ZyB0cmFuc2Zvcm09InNjYWxlKDguNTMzMzMsOC41MzMzMykiPjxwYXRoIGQ9Ik0yNCw4di0yaC0ydi0yaC0ydjJoLTJ2MmgtMWgtMXYyaC0ydi0yaC0xaC0xdi0yaC0ydi0yaC0ydjJoLTJ2MmgtMnYydjhoMnYyaDJ2MmgydjJoMnYyaDNoM3YtMmgydi0yaDJ2LTJoMnYtMmgydi04di0yeiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+') 12 12, auto;
}

h1 {
  line-height: 1.2;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwLDAsMjU2LDI1NiIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgZmlsbC1ydWxlPSJub256ZXJvIj48ZyBmaWxsPSIjZmE1MjUyIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48ZyB0cmFuc2Zvcm09InNjYWxlKDguNTMzMzMsOC41MzMzMykiPjxwYXRoIGQ9Ik0yNCw4di0yaC0ydi0yaC0ydjJoLTJ2MmgtMWgtMXYyaC0ydi0yaC0xaC0xdi0yaC0ydi0yaC0ydjJoLTJ2MmgtMnYydjhoMnYyaDJ2MmgydjJoMnYyaDNoM3YtMmgydi0yaDJ2LTJoMnYtMmgydi04di0yeiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+') 12 12, auto;
  outline: none;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 2rem;
    /* box-shadow: 0 2px 10px #3a342d; */
    border-bottom: dashed 2px #ff9900;
}

.header-title {
    font-family: "VT323", monospace;
    font-size: 4rem;
    color: #ff9900;
    margin: 0;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    background-color: black;
    padding: 0.2rem 2rem;
    border: 4px solid #ff9900;
    border-radius: 32px;
}

.header-title span {
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwLDAsMjU2LDI1NiIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgZmlsbC1ydWxlPSJub256ZXJvIj48ZyBmaWxsPSIjZmE1MjUyIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48ZyB0cmFuc2Zvcm09InNjYWxlKDguNTMzMzMsOC41MzMzMykiPjxwYXRoIGQ9Ik0yNCw4di0yaC0ydi0yaC0ydjJoLTJ2MmgtMWgtMXYyaC0ydi0yaC0xaC0xdi0yaC0ydi0yaC0ydjJoLTJ2MmgtMnYydjhoMnYyaDJ2MmgydjJoMnYyaDNoM3YtMmgydi0yaDJ2LTJoMnYtMmgydi04di0yeiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+') 12 12, pointer;
    transform-origin: center;
    padding: 0 0.1rem;
}

.header-title span:hover {
    transform: scale(2);
    color: #ffff33;
}

.header-title:visited {
    text-decoration: none;
}
/* MAIN */

.main {
  padding: 0 20px;
}

.message {
  padding: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: #ff9900;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 454px;
  height: 454px;
  border: 2px solid var(--border-color);
  margin: 0px auto;
}

.field {
  width: 150px;
  height: 150px;
  border: 1px solid var(--border-color);
  background-color: var(--field-background-color);
  font-size: 100px;
  text-align: center;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwLDAsMjU2LDI1NiIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgZmlsbC1ydWxlPSJub256ZXJvIj48ZyBmaWxsPSIjZmE1MjUyIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48ZyB0cmFuc2Zvcm09InNjYWxlKDguNTMzMzMsOC41MzMzMykiPjxwYXRoIGQ9Ik0yNCw4di0yaC0ydi0yaC0ydjJoLTJ2MmgtMWgtMXYyaC0ydi0yaC0xaC0xdi0yaC0ydi0yaC0ydjJoLTJ2MmgtMnYydjhoMnYyaDJ2MmgydjJoMnYyaDNoM3YtMmgydi0yaDJ2LTJoMnYtMmgydi04di0yeiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+') 12 12, auto;
  user-select: none;
  transition: all 0.3s ease;
}

.field:hover {
  background-color: var(--field-background-color-hover);
  transition: all 0.3s ease;
  transform:scaleX(100px)
}

.center {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.restart-button {
  padding: 10px 20px;
  border: 3px solid var(--blue-border-color);
  border-radius: 7px;
  background-color: var(--button-background-color);
  color: var(--header-font-color);
  font-size: 50px;
}

.restart-button:hover {
  background-color: var(--button-hover-background);
}

.restart-button:active {
  background-color: var(--button-active-background);
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.fa-github {
  color: var(--font-color);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 660px) {
  .title {
    font-size: 60px;
  }

  .message {
    font-size: 40px;
  }

  .restart-button {
    font-size: 40px;
  }

  .gameboard {
    width: 304px;
    height: 304px;
  }

  .field {
    width: 100px;
    height: 100px;
    font-size: 70px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 50px;
  }

  .message {
    font-size: 36px;
  }

  .restart-button {
    font-size: 36px;
  }
}
